#root {
  background-color: white;
  margin: 20px;
  @media (width < 550px) {
    margin: 10px;
  }
}

header {
  padding: 20px 0;
  text-align: center;
  .the-hellos {
    font-size: 2.2rem; /* Largest heading for main titles */
  }
}

main {
  padding: 50px;
  padding-top: 0;

  @media (width < 550px) {
    padding: 25px;
  }
}
